<!--
<div id="showAssets" class="tab-pane fade active in">
	<div class="">
		<div class="modal-header">
			<h4 class="modal-title">My Storage</h4>

		</div>
		<br/>
		<input class="btn btn-primary pull-right" value="create asset"
		       id="manage-assets-create-asset">
		<br/><br/>

		<div id="tableContainer">

			<table data-toggle="table">
				<thead>
				<tr>
					<th>Name</th>
					<th>Submitted</th>
					<th>Modified</th>
					<th>Status</th>
					<th></th>
				</tr>
				</thead>
				<tbody id="assetsTbody">

				</tbody>
			</table>

		</div>
	</div>
</div>
-->


<div class="panel panel-default" id="assets">
	<div class="panel-body">
		<input class="btn btn-primary pull-right"
		       value="create asset"
		       id="manage-assets-create-asset"/>
	</div>
	<div class="modal-header">
		<h4 class="modal-title">My Storage</h4>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Name<br/><span>asset_name</span></th>
				<th>Submitted<br/><span>date_submitted</span></th>
				<th>Modified<br/><span>date_modified</span></th>
				<th>Status<br/><span>status</span></th>
			</tr>
		</thead>
		<tbody id="assetsTbody">

		</tbody>
	</table>
</div>