body {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

h1, h2, h3 {
    font-weight: 600;
    letter-spacing: 5px;
}

a {
    cursor: pointer;
    color: #eb5528;
    font-weight: 400;
    text-decoration: none;
    outline: 0;
}

a:hover, a:active, a.clicked, a:focus {
    text-decoration: none;
    outline: 0;
}

a[disabled] {
    pointer-events: none;
    cursor: default;
}

a.mono {
    color: #333333;
    text-transform: uppercase;
}

a:hover {
    text-decoration: initial;
}

a.disabled{
    pointer-events:none;
    color: darkgrey;
}

li.disabled{
    pointer-events:none;
    color: darkgrey;
}

li[disabled] {
    pointer-events: none;
    cursor: default;
}

label {
    font-weight: normal;
}

small {
    font-size: 14px;
    font-weight: 300;
}

small {
    font-size: 14px;
    font-weight: 300;
}

hr {
    border-top: 1px solid #cccccc;
}

textarea {
    resize: vertical;
}

#container {
    width: 800px;
}

.container {
    width: 768px;
}

.form_control {
    box-shadow: none;
}

.table th, .table td {
    vertical-align: top !important;
}

.table th{
    text-transform: uppercase;
}

.table th span {
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
    color: lightgrey;
}

.table td{
    padding: 16px!important;
}

.table tr.in-table:hover {
    background-color: #F7F7F7;
    cursor: pointer;
}

.table tr.in-table .actions{
    display:none;
    position: absolute;
}

.table tr.in-table:hover .actions{
    display:block;
}

.table td i{
    margin-right:10px;
}

.required:after {
    content: '';
}

i.required:before {
    content: "*";
    display: inline-block;
    color: red;
    margin-left: 5px;
}

input[type="email"], input[type="password"], input[type="text"], input[type="url"] {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 44px;
    padding: 10px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {

    font-size: 14px;
}

input[type="checkbox"] + label span.chk {
    background: url("../img/sprite.png") no-repeat scroll -249px -77px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin: -1px 13px 0 0;
    vertical-align: top;
    width: 25px;
}

input[type="checkbox"]:checked + label span.chk {
    background-position: -248px -46px;
}

.spark_btn {
    display: inline-block;
    color: #EA5426;
    background: transparent;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid #EA5426;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    /* medium size is default */
    height: 35px;
    line-height: 35px;
    padding: 0px 25px;
    font-size: 14px;
    position: relative;
}

.spark_btn:hover {
    color: #EA5426;
}

.spark_btn.primary {
    background: #eb5528;
    color: white;
    font-weight: 400;
    border-radius: 3px;
    text-transform: uppercase;
}

.spark_btn.primary:hover, .spark_btn.primary:active, .spark_btn.primary.clicked {
    background: #f35525;
    color: white;

}

.spark_btn.xsmall {
    height: 26px;
    line-height: 26px;
    padding: 0px 10px;
    font-size: 12px;
    font-weight: 700;
}

.spark_btn.small {
    height: 30px;
    line-height: 30px;
    padding: 0px 20px;
    font-size: 12px;
}

.spark_btn.large {
    height: 50px;
    line-height: 49px;
    padding: 0px 60px;
    font-size: 16px;
}

.spark_btn[disabled] {
    cursor: default;
    opacity: 0.5;
}

.form_field{
    margin-bottom: 20px;
}
.form_field .field_error {
    position: relative;
    z-index: 10;
    float: right;
    clear: right;
    display: inline-block;
    padding: 1px 7px;
    margin: -10px 8px 0 0;
    color: #101010;
    background: #ffde82;
    border-radius: 3px;
    font-size: 13px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.title-label {
    color: lightgray;
    font-size: 16px;
}

.title-label > span{
    font-size: 20px;
    line-height: 16px;
    margin: 0 3px;
}

.field-label {
    color: lightgray;
    font-size: 14px;
    font-style: italic;
}

.form-footer{
    border-top: 1px solid #e5e5e5;
    padding: 15px 0;
}

.form-footer div.submit-wrapper{
    float: right;
    position: relative;
    display: inline;
}
.form-footer div.publish-wrapper{
    display: inline;
}

.form-footer div.submit-wrapper .spinner{
    right:25px;
}

.form-footer div.submit-wrapper a{
    margin-right: 20px;
    font-size: 14px;
}

.dropdown-menu{
    min-width: 100px;
    top:22px;
    left:-82px;
}

.dropdown-menu li{
    font-size: 12px;
}

.modal .modal-header,.modal .modal-footer{
    border: none;
}
.modal-header{
    padding-bottom: 5px;
}
.modal .modal-footer{
    text-align: left;
}

.notification-bar {
    background: none repeat scroll 0 0 #fefae6;
    border-bottom: 1px solid #ebeae7;
    font-size: 13px;
    padding: 8px;
    position: absolute;
    width: 100%;
    left:0;
    top:0;
    text-align: center;
}

#welcome-wrapper{
    text-align: center;
}

/***** TOOLTIP *****/
i.stooltip {
    outline: none;
    position: relative;
    font-style: normal;
}

i.stooltip:hover {
    text-decoration: none;
}

i.stooltip span {
    background: none repeat scroll 0 0 #F1F1F1;
    bottom: 25px;
    display: none;
    left: 0px;
    position: absolute;
    width: 200px;
    z-index: 10;
    text-align: left;
    color: #333333;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    max-width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 12px;
}

i.stooltip:hover span {
    display: block;
}

i.stooltip span {
    border-radius: 4px;
}

/******* SPINNER **********/
.spinner {
    height: 20px;
    width: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(238, 96, 45, .15);
    border-right: 6px solid rgba(238, 96, 45, .15);
    border-bottom: 6px solid rgba(238, 96, 45, .15);
    border-top: 6px solid rgba(238, 96, 45, 1);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/******* END SPINNER **********/

/***** SPRITE ******/
.spark_icon {
    background: url(../img/sprite.png) no-repeat;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    margin-bottom: -3px;
}

.si-help {
    background-position: -286px -47px;
    width: 17px;
    height: 16px;
}

.si-help-hover {
    background-position: -286px -73px;
    width: 17px;
    height: 16px;
}

.si-help.with_hover:hover, .si-help.with_hover:active, .si-help.with_hover.clicked {
    background-position: -286px -73px;
}

.si-asset-icon{
    background-position: -160px -16px;
    width: 16px;
    height: 17px;
}

.si-asset-icon-transparent{
    background-position: -100px -16px;
    width: 16px;
    height: 17px;
    margin-right: 10px;
}

.si-actions-icon{
    background-position: -10px -49px;
    height: 20px;
    width: 20px;
}

.si-mosaic-layout{
    background-position: -270px -19px;
    width: 13px;
    height: 13px;
}

.si-mosaic-layout-active{
    background-position: -290px -19px;
    width: 13px;
    height: 13px;
}

.si-list-layout{
    background-position: -245px -19px;
    width: 13px;
    height: 13px;
}

.si-list-layout-active{
    background-position: -223px -19px;
    width: 13px;
    height: 13px;
}
.si-asset-folder-icon{
    background-position: -114px -53px;
    height: 16px;
    width: 19px;
}

.si-asset-file-icon{
    background-position: -157px -52px;
    height: 19px;
    width: 17px;
    margin-right: 15px;
}

.si-upload-icon{
    background-position: -21px -82px;
    height: 42px;
    width:48px;
}

.si-status-ok{
    background-position: -12px -14px;
    height: 18px;
    width: 18px;
}

.si-home{
    background-position: -188px -52px;
    height: 18px;
    width: 20px;
}

.si-dropdown-open{
    background-position: -76px -57px;
    height: 6px;
    width: 11px;
}

.si-add-item{
    background-position: -47px -53px;
    height: 12px;
    width: 12px;
    margin-right: 10px;
    margin-bottom: -1px;
}

.si-status-disabled{
    background-position: -42px -14px;
    height: 18px;
    width: 18px;
}

.si-status-right-arrow{
    background-position: -72px -14px;
    height: 18px;
    width: 18px;
}


/***** END SPRITE *****/

/**** galleries ****/

.thumb{
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.thumb:hover .actions{
    display: block;
}

.thumb img.img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
}

.thumb .actions{
    display: none;
    position: absolute;
    top:3px;
    right:20px;
}

.text{
    background-color: #f8f8f8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
}

.btn-github {

    background: url(../img/github_btn_normal.png) no-repeat;
    width:206px;
    height: 41px;
    display: block;
}

.btn-github:hover {

    background: url(../img/github_btn_over.png) no-repeat;
    width:206px;
    height: 41px;
    display: block;
}

.logged-out-container
{
    width: 768px;
    margin: 0;
}

.sample-app-header{
    margin-top: 10px;
    margin-bottom: 25px;
}

.sample-title
{
    text-transform: uppercase;
    color:#333333;
    font-size:16px;
    font-weight: 500;
}

.sample-top-menu {
    display: inline-block;
    border-bottom: none;
}

.sample-top-menu li
{
    padding: 15px 5px;
}

.sample-top-menu li.disabled a
{
    color:#c0c0c0;
}

.sample-top-menu li a
{
    text-transform: uppercase;
    color: #333333;
    margin-right: 10px;
    padding: 0 0 2px 0;
    font-size:15px;
}

.sample-top-menu li a:hover
{
    color: #333333;
    background-color: transparent;
    border-color: transparent;
}

.sample-top-menu li a:hover, .sample-top-menu li.selected a {
    border-bottom: 1px solid red;
    color: #333333;
}

.sample-top-menu li .si-status-ok{
    display:none;

}

.sample-top-menu li .si-status-disabled{
    display:block;
}

.sample-top-menu li.verified .si-status-ok{
    display:block;
}

.sample-top-menu li.verified .si-status-disabled{
    display:none;
}

.sample-top-menu li .si-status-right-arrow{
    margin-left: 10px;
    top: -1px;
    position: relative;
}

.sample-top-menu li .user-avatar
{
    width:25px;
    height: 25px;
    margin-right: 10px;
    position: relative;
    top:-2px;
}

.sample-app-container
{
    margin-top: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #f9f8f8;
}

#breadcrumbs-section{
    background-color: white;
    display: inline-block;
    padding: 13px;
    width: 100%;
    position: relative;
    height: 61px;
}
#breadcrumbs-section div#action-button div{
    display: none;
}
#breadcrumbs-section #action-button{
    float: right;
}

#breadcrumbs-section #action-button #create-file > a{
    padding: 0 32px;
}

#breadcrumbs-section #action-button #create-file i{
    position: absolute;
}

#breadcrumbs-section #action-button #create-file i.si-dropdown-open{
    right:10px;
    top:16px;
}

#breadcrumbs-section #action-button #create-file i.si-add-item{
    left:12px;
    top:11px;
}

#breadcrumbs{
    bottom: 0;
    float: left;
    height: 61px;
    margin: auto;
    position: absolute;
    top: 0;
}

.bread-crumb{
    background-image: url("../img/light_bread_crumbs_arrow_A.png");
    background-position: 100% center;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 9px;
}

.bread-crumb span{
    background-color: #F5F4F4;
    padding: 11px;
    display: inline-block;
    height: 40px;
}

.bread-crumb.dark{
    background-image: url("../img/dark_bread_crumbs_arrow_A.png");
}
.bread-crumb.dark span{
    background-color: #EBEBEB;
}

.footer-row
{
    margin-left:0;
    margin-right:0;
    margin-bottom: 10px;
}

.center
{
    text-align: center;
}

.mainIframe-container
{
    border-top:1px solid #cccccc;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    width: 770px;
}

.logger-container
{
    background-color: #2b2f3e;
    color:#8c92a4;
    min-height: 100px;
    margin-bottom: 10px;
    border-bottom:1px solid #2b2f3e;
    border-left:1px solid #2b2f3e;
    border-right:1px solid #2b2f3e;
    width: 770px;
}

.logger-container .logger-header
{
   border-bottom: 1px solid #3a3e4d;
   padding-top: 5px;
    margin-bottom: 20px;
}

.logger-header .title{
    color:#cfd3dd;
    text-transform: uppercase;
    margin-left: 15px;
}

.logger-header .clear{
    margin-right: 15px;
    cursor: pointer;
}

.spacer{
    margin-bottom: 20px;
}

