body {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-weight: 600;
    letter-spacing: 5px;
}

a {
    cursor: pointer;
    color: #eb5528;
    font-weight: 400;
    text-decoration: none;
    outline: 0;
}

pre {
    text-align: left;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    border: 0;
    /**border-bottom: 1px solid #3a3e4d;*/
    font-size: 12px;
    color: #ffffff;
}

pre.headers {
    border-bottom: 1px solid #3a3e4d;
}

.logger-menu {
    border-bottom: 1px solid #3a3e4d;
    text-align: left;
    padding-bottom: 9px;
}

a:hover, a:active, a.clicked, a:focus {
    text-decoration: none;
    outline: 0;
    color: #eb5528;
}

a[disabled] {
    pointer-events: none;
    cursor: default;
}

a.mono {
    color: #333333;
    text-transform: uppercase;
}

a:hover {
    text-decoration: initial;
}

a.disabled {
    pointer-events: none;
    color: darkgrey;
}

li.disabled {
    pointer-events: none;
    color: darkgrey;
}

li[disabled] {
    pointer-events: none;
    cursor: default;
}

label {
    font-weight: normal;
}

small {
    font-size: 14px;
    font-weight: 300;
}

small {
    font-size: 14px;
    font-weight: 300;
}

hr {
    border-top: 1px solid #cccccc;
}

textarea {
    resize: none;
}

#container {
    width: 716px;
}

.container {
    width: 682px;
}

.outer-container {
    width: 716px;
    padding: 0;
}

.form_control {
    box-shadow: none;
}

.table th, .table td {
    vertical-align: top !important;
}

.table th {
    text-transform: uppercase;
}

.table th span {
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
    color: lightgrey;
}

.table td {
    padding: 16px !important;
}

.table tr.in-table:hover {
    background-color: #F7F7F7;
    cursor: pointer;
}

.table tr.in-table .actions {
    visibility: hidden;
    text-align: right;
}

.table tr.in-table:hover .actions {
    visibility: visible;
}

.table tr.in-table.selected {
    background-color: #F7F7F7;
    cursor: pointer;
}

.table td i {
    margin-right: 10px;
}

.table .in-table {
    position: relative;
}

.required:after {
    content: '';
}

i.required:before {
    content: "*";
    display: inline-block;
    color: red;
    margin-left: 5px;
}

input[type="email"], input[type="password"], input[type="text"], input[type="url"] {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 44px;
    padding: 10px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {

    font-size: 14px;
}

input[type="checkbox"] + label span.chk {
    background: url("../img/sprite.png") no-repeat scroll -249px -77px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin: -1px 13px 0 0;
    vertical-align: top;
    width: 25px;
}

input[type="checkbox"]:checked + label span.chk {
    background-position: -248px -46px;
}

.spark_btn {
    display: inline-block;
    color: #EA5426;
    background: transparent;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid #EA5426;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    /* medium size is default */
    height: 40px;
    line-height: 40px;
    padding: 0px 32px;
    font-size: 14px;
    position: relative;
}

.spark_btn.empty {
    background: white;
}

.spark_btn:hover {
    color: #EA5426;
}

.spark_btn.primary {
    background: #eb5528;
    color: white;
    font-weight: 400;
    border-radius: 3px;
    text-transform: uppercase;
}

.spark_btn.primary:hover, .spark_btn.primary:active, .spark_btn.primary.clicked {
    background: #f35525;
    color: white;

}

.spark_btn.xsmall {
    height: 26px;
    line-height: 26px;
    padding: 0px 10px;
    font-size: 12px;
    font-weight: 700;
}

.spark_btn.small {
    height: 30px;
    line-height: 30px;
    padding: 0px 20px;
    font-size: 12px;
}

.spark_btn.large {
    height: 50px;
    line-height: 49px;
    padding: 0px 60px;
    font-size: 16px;
}

.spark_btn[disabled] {
    cursor: default;
    opacity: 0.5;
}

#assets-gallery {
    padding-top: 20px;
    overflow-y: scroll;
    height: 400px;
}

.form_field {
    margin-bottom: 12px;
}

.form_field .field_error {
    position: relative;
    z-index: 10;
    float: right;
    clear: right;
    display: inline-block;
    padding: 1px 7px;
    margin: -10px 8px 0 0;
    color: #101010;
    background: #ffde82;
    border-radius: 3px;
    font-size: 13px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.title-label {
    color: lightgray;
    font-size: 16px;
}

.title-label > span {
    font-size: 20px;
    line-height: 16px;
    margin: 0 3px;
}

.field-label {
    color: lightgray;
    font-size: 14px;
    font-style: italic;
}

.form-footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px 0;
}

.form-footer div.submit-wrapper {
    float: right;
    position: relative;
    display: inline;
}

.form-footer div.publish-wrapper {
    display: inline;
}

.form-footer div.submit-wrapper .spinner {
    right: 15px;
}

.form-footer div.submit-wrapper a {
    margin-right: 20px;
    font-size: 14px;
}

.dropdown-menu {
    min-width: 100px;
    top: 22px;
    left: -85px;
}

.dropdown-menu li {
    font-size: 12px;
}

.modal .modal-header, .modal .modal-footer {
    border: none;
}

.modal-header {
    padding-bottom: 5px;
}

.modal .modal-footer {
    text-align: left;
}

.notification-bar {
    background: none repeat scroll 0 0 #fefae6;
    border-bottom: 1px solid #ebeae7;
    font-size: 14px;
    color: #333333;
    padding: 4px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 30px;
}

#welcome-wrapper {
    margin-top: 35px;
}

/***** TOOLTIP *****/
i.stooltip {
    outline: none;
    position: relative;
    font-style: normal;
}

i.stooltip:hover {
    text-decoration: none;
}

i.stooltip span {
    background: none repeat scroll 0 0 #F1F1F1;
    bottom: 25px;
    display: none;
    left: 0px;
    position: absolute;
    width: 200px;
    z-index: 10;
    text-align: left;
    color: #333333;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    max-width: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 12px;
}

i.stooltip:hover span {
    display: block;
}

i.stooltip span {
    border-radius: 4px;
}

/******* SPINNER **********/
.spinner {
    height: 20px;
    width: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(238, 96, 45, .15);
    border-right: 6px solid rgba(238, 96, 45, .15);
    border-bottom: 6px solid rgba(238, 96, 45, .15);
    border-top: 6px solid rgba(238, 96, 45, 1);
    border-radius: 100%;
    z-index: 10;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.spinner-with-text > .spinner {
    display: none;
    left: -55px;
}

.spinner-with-text {
    display: none;

    height: 20px;
    width: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;

}

#spinner-text {
    /**left: 30px;*/
    position: absolute;
    font-size: 16px;
    color: #333333;
    font-weight: 400;
}

/******* END SPINNER **********/

/***** SPRITE ******/
.spark_icon {
    background: url(../img/sprite_sampleapp.png) no-repeat;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    margin-bottom: -3px;
}

.si-help {
    background-position: -286px -47px;
    width: 17px;
    height: 16px;
    margin-left: 6px;
}

.si-download {
    background-position: -181px -204px;
    height: 19px;
    width: 20px;
    margin-right: 10px;
}

.si-close {
    background-position: -70px -204px;
    width: 17px;
    height: 16px;
    padding-right: 30px;
    cursor: pointer;

}

.si-help-hover {
    background-position: -286px -73px;
    width: 17px;
    height: 16px;
}

.si-help.with_hover:hover, .si-help.with_hover:active, .si-help.with_hover.clicked {
    background-position: -286px -73px;
}

.si-asset-icon {
    background-position: -160px -16px;
    width: 16px;
    height: 17px;
}

.si-asset-icon-transparent {
    background-position: -100px -16px;
    width: 16px;
    height: 17px;
    margin-right: 10px;
}

.si-actions-icon {
    background-position: -10px -49px;
    height: 20px;
    width: 20px;
}

.si-mosaic-layout {
    background-position: -270px -19px;
    width: 13px;
    height: 13px;
}

.si-mosaic-layout-active {
    background-position: -290px -19px;
    width: 13px;
    height: 13px;
}

.si-list-layout {
    background-position: -245px -19px;
    width: 13px;
    height: 13px;
}

.si-list-layout-active {
    background-position: -223px -19px;
    width: 13px;
    height: 13px;
}

.si-asset-folder-icon {
    background-position: -114px -53px;
    height: 16px;
    width: 19px;
}

.si-asset-file-icon {
    background-position: -157px -52px;
    height: 19px;
    width: 17px;
    margin-right: 15px;
}

.si-upload-icon {
    background-position: -16px -82px;
    height: 44px;
    width: 48px;
}

.si-premade-upload-icon {
    background-position: -249px -238px;
    height: 44px;
    width: 48px;
}

.si-popup-icon {
    background-position: -250px -177px;
    height: 20px;
    width: 26px;
}

.si-premede-files {
    background-position: -256px -299px;
    height: 44px;
    width: 33px;
}

.si-pre-made-good-files {
    background-position: -82px -361px;
    height: 44px;
    width: 33px;
}

.si-drive-files {
    background-position: -11px -360px;
    height: 44px;
    width: 47px;
}

.si-status-ok {
    background-position: -12px -14px;
    height: 18px;
    width: 18px;
}

.si-status-error {
    background-position: -105px -75px;
    width: 26px;
    height: 26px;
}

.si-home {
    background-position: -188px -52px;
    height: 18px;
    width: 20px;
}

.si-dropdown-open {
    background-position: -76px -57px;
    height: 6px;
    width: 11px;
}

.si-notification-error {
    background-position: -279px -202px;
    width: 26px;
    height: 26px;
}

.si-notification-ok {
    background-position: -303px -202px;
    width: 26px;
    height: 26px;
}

.si-add-item {
    background-position: -47px -53px;
    height: 12px;
    width: 12px;
    margin-right: 10px;
    margin-bottom: -1px;
}

.si-status-disabled {
    background-position: -42px -14px;
    height: 18px;
    width: 18px;
}

.si-status-right-arrow {
    background-position: -72px -14px;
    height: 18px;
    width: 18px;
}

.si-healing-upload {
    background-position: -7px -294px;
    height: 58px;
    width: 58px;
}

.si-status-ok-filled {
    background-position: -157px -204px;
    height: 18px;
    width: 18px;
}

.si-healing-upload-disabled {
    background-position: -7px -231px;
    height: 58px;
    width: 58px;
}

.si-healing-analyze {
    background-position: -67px -294px;
    height: 58px;
    width: 58px;
}

.si-healing-analyze-disabled {
    background-position: -67px -231px;
    height: 58px;
    width: 58px;
}

.si-healing-repair {
    background-position: -127px -294px;
    height: 58px;
    width: 58px;
}

.si-healing-repair-disabled {
    background-position: -127px -231px;
    height: 58px;
    width: 58px;
}

.print-si-printer {
    background-position: -5px -5px;
    width: 26px;
    height: 26px;
}

.print-si-close-light {
    background-position: -168px -74px;;
    width: 26px;
    height: 26px;
}

.print-si-close-light:hover, .btn-simulator-container:hover .print-si-close-light {
    background-position: -168px -100px;
    width: 26px;
    height: 26px;
}

.print-si-pause-light {
    background-position: -191px -73px;
    width: 26px;
    height: 26px;
}

.print-si-pause-light:hover, .btn-simulator-container:hover .print-si-pause-light {
    background-position: -191px -99px;
    width: 26px;
    height: 26px;
}

.print-si-play-light {
    background-position: -213px -74px;
    width: 26px;
    height: 26px;
}

.print-si-play-light:hover, .btn-simulator-container:hover .print-si-play-light {
    background-position: -213px -100px;
    width: 26px;
    height: 26px;
}

.print-si-round-cancel-light {
    background-position: -105px -75px;
    width: 26px;
    height: 26px;
}

.print-si-round-cancel-light:hover {
    background-position: -105px -101px;
    width: 26px;
    height: 26px;
}

.print-si-round-pause-light {
    background-position: -75px -75px;
    width: 26px;
    height: 26px;
}

.print-si-round-pause-light:hover {
    background-position: -75px -101px;
    width: 26px;
    height: 26px;
}

.print-si-round-resume-light {
    background-position: -91px -198px;
    width: 26px;
    height: 26px;
}

.print-si-round-resume-light:hover {
    background-position: -123px -198px;
    width: 26px;
    height: 26px;
}

.print-si-browse {
    background-position: -136px -102px;
    width: 29px;
    height: 29px;
}

.print-si-new-token-light {
    background-position: -246px -109px;
    width: 29px;
    height: 29px;
}

.print-si-new-token-light:hover, .btn-simulator-container:hover .print-si-new-token-light {
    background-position: -246px -140px;
    width: 29px;
    height: 29px;
}

.print-si-plus {
    background-position: -284px -90px;
    width: 22px;
    height: 22px;
}

.notification_icon {
    margin-right: 10px;
}

.print-si-round-refresh-light {
    background-position: -286px -145px;
    width: 29px;
    height: 29px;
}

.print-si-round-refresh-light:hover {
    background-position: -286px -173px;
    width: 29px;
    height: 29px;
}

.si-like {
    background-position: -56px -149px;
    height: 13px;
    width: 16px;
}

.si-likes {
    background-position: -25px -180px;
    height: 16px;
    width: 19px;
}

.si-comments {
    background-position: -60px -179px;
    height: 17px;
    width: 19px;
}

.si-views {
    background-position: -94px -179px;
    height: 17px;
    width: 25px;
}

.si-arrow {
    background-position: -115px -149px;
    height: 12px;
    width: 14px;
}

.si-control {
    background-position: -164px -149px;
    height: 11px;
    width: 10px;
}

.si-control.active {
    background-position: -144px -149px;
    height: 11px;
    width: 11px;
}

/***** END SPRITE ******/

/**** galleries ****/

.box {
    margin-bottom: 20px;
    height: 231px;
}

.thumb {
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 191px;
    overflow: hidden;
    position: relative;
}

.thumb:hover .actions {
    display: block;
}

.thumb img.img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.thumb .actions {
    display: none;
    position: absolute;
    top: 3px;
    right: 20px;
}

.text {
    background-color: #f8f8f8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ccc;
    padding: 9px;
}

.btn-github {

    background: url(../img/github_btn_normal.png) no-repeat;
    width: 206px;
    height: 41px;
    display: block;
}

.btn-github:hover {

    background: url(../img/github_btn_over.png) no-repeat;
    width: 206px;
    height: 41px;
    display: block;
}

.logged-out-container {
    width: 682px;
    margin: 0;
}

.sample-app-header {
    margin-top: 10px;
    margin-bottom: 25px;
}

#appModal .modal-dialog {
    width: 500px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
}

#appModal .modal-header h2 {
    padding: 0 50px;
}

#appModal .modal-body {
    padding: 10px 66px;
}

#appModal .modal-footer {
    text-align: center;
    margin-bottom: 20px;
}

.sample-title {
    text-transform: uppercase;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -10px;
}

.sample-top-menu {
    display: inline-block;
    border-bottom: none;
}

.sample-top-menu li {
    padding: 15px 5px;
}

.sample-top-menu li.disabled a {
    color: #c0c0c0;
}

.sample-top-menu li a {
    text-transform: uppercase;
    color: #333333;
    margin-right: 10px;
    padding: 0 0 2px 0;
    font-size: 15px;
}

.sample-top-menu li a:hover {
    color: #333333;
    background-color: transparent;
    border-color: transparent;
}

.sample-top-menu li a:hover, .sample-top-menu li.selected a {
    border-bottom: 1px solid red;
    color: #333333;
}

.sample-top-menu li .si-status-ok {
    display: none;

}

.sample-top-menu li .si-status-disabled {
    display: block;
}

.si-status-ok-filled {
    display: none;
}

.sample-top-menu li.verified .si-status-ok-filled {
    display: block;
}

.sample-top-menu li.verified .si-status-ok {
    display: block;
}

li.disabled .verified-icon {
    display: none;
}

li.disabled .not-verified-icon {
    display: block;
}

.sample-top-menu li.verified .verified-icon {
    display: block;
}

.sample-top-menu li.verified .not-verified-icon, .sample-top-menu li.selected .not-verified-icon {
    display: none;
}

.sample-top-menu li.verified .si-status-disabled {
    display: none;
}

.sample-top-menu li .si-status-right-arrow {
    margin-left: 10px;
    top: -1px;
    position: relative;
}

.sample-top-menu li .user-avatar {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    position: relative;
    top: -2px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.sample-app-container {
    margin-top: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #f9f8f8;
}

#breadcrumbs-section {
    background-color: white;
    display: inline-block;
    padding: 13px;
    width: 100%;
    position: relative;
    height: 61px;
}

#breadcrumbs-section div#action-button div {
    display: none;
}

#breadcrumbs-section #action-button {
    float: right;
}

#breadcrumbs-section #action-button #create-file{
    margin-top:-2px;
}

#breadcrumbs-section #action-button #create-file > a {
    padding: 0 40px;
}

#breadcrumbs-section #action-button #create-file i {
    position: absolute;
    right: 5px;
    top: 7px;
}

#breadcrumbs-section #action-button #create-file i.si-dropdown-open {
    right: 10px;
    top: 16px;
}

#breadcrumbs-section #action-button #create-file i.si-add-item {
    left: 20px;
    top: 14px;
}

#breadcrumbs-section #action-button #create-file i.stooltip span {
    bottom: 5px;
    left: -120px;
    width: 120px;

}

#breadcrumbs-section #action-button #create-file ul {
    width: 180px;
    left: -40px;
    top: 38px;
}

#breadcrumbs-section #action-button #create-file ul li {
    padding: 3px 0;
    position: relative;
}

#breadcrumbs-section #action-button #create-file ul li > a {
    padding: 3px 10px;
}

#breadcrumbs {
    bottom: 0;
    float: left;
    height: 61px;
    margin: auto;
    position: absolute;
    top: 4px;
    left: 30px;
}

.bread-crumb {
    background-image: url("../img/light_bread_crumbs_arrow_A.png");
    background-position: 100% center;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 9px;
    margin-left: -18px;
}

.bread-crumb-tail {
    background-image: url("../img/light_bread_crumbs_arrow_C.png");
    background-repeat: no-repeat;
    display: inline;
    float: left;
    height: 39px;
    margin: 0;
    padding: 0;
    width: 9px;
}

.bread-crumb span {
    background-color: #F5F4F4;
    padding: 11px;
    display: inline-block;
    height: 39px;
    color: #777777;
}

.bread-crumb.dark {
    background-image: url("../img/dark_bread_crumbs_arrow_A.png");
}

.bread-crumb.dark span {
    background-color: #EBEBEB;
    color: #333333;
}

.bread-crumb.dark span b {
    font-weight: 400;
}

.bread-crumb.dark .bread-crumb-tail {
    background-image: url("../img/dark_bread_crumbs_arrow_C.png");
}

.bread-crumb span.bread-crumb-inner i.si-asset-file-icon {
    margin-bottom: -4px;
    margin-right: 5px;
}

.footer-row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.mainIframe-container {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    width: 682px;
}

/****** Ajaj Logger *****/
.logger-container {
    background-color: #2b2f3e;
    color: #8c92a4;
    margin-bottom: 10px;
    border-bottom: 1px solid #2b2f3e;
    border-left: 1px solid #2b2f3e;
    border-right: 1px solid #2b2f3e;
    width: 682px;

    overflow: hidden;

}

.logger-container .logger-header {
    border-bottom: 1px solid #3a3e4d;
    padding-top: 10px;
    padding-bottom: 5px;
}

.logger-container .method {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 3px 8px;
    text-transform: uppercase;
    margin-right: 15px;
}

.logger-container .method.method-get {
    border-color: greenyellow;
}

.logger-container .method.method-post {
    border-color: coral;
}

.logger-container .method.method-put {
    border-color: cornflowerblue;
}

.logger-container .method.method-delete {
    border-color: palevioletred;
}

.logger-header .title {
    color: #cfd3dd;
    text-transform: uppercase;
    margin-left: 15px;
}

.logger-header .clear {
    margin-right: 15px;
    cursor: pointer;
    font-size: 13px;
}

.request > .renderjson {

}

.logger-menu-item {
    color: white;
    margin-left: 33px;
    margin-right: 0px;
    text-decoration: no-underline;
    text-align: left;
    font-size: 12px;

}

.logger-menu-item:hover {
    color: grey;
}

.logger-menu-item.active {
    /**text-decoration: underline;*/
    border-bottom: 2px solid white;
}

.logger-menu-item.active:hover {
    border-bottom: 2px solid grey;
}

.request.active {
    background-color: #305B78;
}

.request > .renderjson > div.req-resp {
    position: relative;
}

.request > .renderjson > div.req-resp .open-full-request {
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 7px;
}

.request {
    cursor: pointer;
}

.renderjson a {
    color: #B1EDEC;
    text-decoration: none;
}

.renderjson .disclosure {
    color: #B1EDEC;
    font-size: 150%;
}

.renderjson .syntax {
    color: #B1EDEC;
}

.renderjson .string {
    color: #B1EDB5;
}

.renderjson .number {
    color: #EDC2B5;
}

.renderjson .boolean {
    color: #EDC2B5;
}

.renderjson .key {
    color: #D3B1ED;
    font-weight: 400
}

.renderjson .keyword {
    color: white;
}

.renderjson .object.syntax {
    color: #B1EDEC;
}

.renderjson .array.syntax {
    color: #B1EDEC;
}

/**
.renderjson .disclosure { color: crimson;  font-size: 150%; }
.renderjson .syntax { color: grey; }
.renderjson .string { color: lightgreen; }
.renderjson .number { color: #add8e6; }
.renderjson .boolean { color: orange; }
.renderjson .key    { color: mediumpurple; }
.renderjson .keyword { color: mediumpurple; }
.renderjson .object.syntax { color: lightsalmon; }
.renderjson .array.syntax  { color: orange; }
*/

.renderjson div {
    text-transform: lowercase;
}

.renderjson {
    padding: 9.5px 7px 9.5px 7px;
}

/**** END Ajax Logger *****/

.spacer {
    margin-bottom: 20px;
}

.main-container {
    padding: 0 20px 0 20px;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.add-printer {
    background: url('../img/add_printer.png') no-repeat;
    width: 59px;
    height: 137px;
    margin-left: 290px;
}

#requestLog {
    overflow-y: auto;
    height: 400px;
}

.logger-container * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#requestLog-details {

    overflow-y: auto;
    /**resize: vertical;*/
    overflow: auto;
    display: none;
}

#requestLog pre {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 300;
}

#requestLog::-webkit-scrollbar, #requestLog-details::-webkit-scrollbar {
    width: 12px;
}

#requestLog::-webkit-scrollbar-track, #requestLog-details::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#requestLog::-webkit-scrollbar-thumb, #requestLog-details::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: darkgrey;
    border: 1px solid transparent;
    background-clip: content-box;
}

.create-print-job {
    background: url('../img/create_print_job.png') no-repeat;
    width: 144px;
    height: 100px;
    margin-left: 250px;
}

#drag {
    cursor: ns-resize;
    color: white;
    font-size: 10px;
    border-bottom: 1px solid #3a3e4d;
    border-top: 1px solid #3a3e4d;
    background-color: #363B4C;
    margin-bottom: 10px;
    display: none;
}

.push {
    clear: both;
}

.push10 {
    height: 10px;
}

.push20 {
    height: 20px;
}

.push30 {
    height: 30px;
}

.push40 {
    height: 40px;
}

.cb-options .wrapper {
    margin-right: 40px;
}

.img img {
    max-width: 100%;
}

#form-fields .nav-tabs > li > a {
    color: #cccccc;
}

#form-fields .nav-tabs > li.active > a {
    color: #555555;
}

/* ============================================================ */
/* BEGIN Light */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans/Light/OpenSans-Light.eot?v=1.1.0");
    src: url("../fonts/OpenSans/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Light/OpenSans-Light.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: 300;
    font-style: normal;
}

/* END Light */
/* BEGIN Light Italic */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.eot?v=1.1.0");
    src: url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: 300;
    font-style: italic;
}

/* END Light Italic */
/* BEGIN Regular */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans/Regular/OpenSans-Regular.eot?v=1.1.0");
    src: url("../fonts/OpenSans/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Regular/OpenSans-Regular.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* END Regular */
/* BEGIN Italic */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans/Italic/OpenSans-Italic.eot?v=1.1.0");
    src: url("../fonts/OpenSans/Italic/OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Italic/OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Italic/OpenSans-Italic.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: normal;
    font-style: italic;
}

/* END Italic */
/* BEGIN Semibold */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans/Semibold/OpenSans-Semibold.eot?v=1.1.0");
    src: url("../fonts/OpenSans/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Semibold/OpenSans-Semibold.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: 600;
    font-style: normal;
}

/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.eot?v=1.1.0");
    src: url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: 600;
    font-style: italic;
}

/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans/Bold/OpenSans-Bold.eot?v=1.1.0");
    src: url("../fonts/OpenSans/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Bold/OpenSans-Bold.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: bold;
    font-style: normal;
}

/* END Bold */
/* BEGIN Bold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.eot?v=1.1.0");
    src: url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: bold;
    font-style: italic;
}

/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.eot?v=1.1.0");
    src: url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: 800;
    font-style: normal;
}

/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?v=1.1.0");
    src: url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: 800;
    font-style: italic;
}

/* END Extrabold Italic */
