body {
    font-family: 'Open Sans';
}

a{
    cursor: pointer;
}

.table th, .table td{
    text-align: center;
    vertical-align: top!important;
}
.table th span {
    font-size: 12px;
    font-weight: normal;
}